<h1>Editing report mail task</h1>

<%= render "form", report_mail_task: @report_mail_task %>

<br>

<div>
  <%= link_to "Back to report mail projects", [@project.report_mail, @project, anchor: dom_id(@report_mail_task)] %>
</div>
