<h1>Editing report mail project</h1>

<%= render "form", report_mail_project: @report_mail_project %>

<br>

<div>
  <%= link_to "Back to report mail project", [@report_mail, @report_mail_project] %>
</div>
