<h1>New report mail project</h1>

<%= render "form", report_mail_project: @report_mail_project %>

<br>

<div>
  <%= link_to "Back to report mail projects", [@report_mail, ReportMailProject] %>
</div>
